.searchBox {
  width: 90%;
  height: 50px;
  margin: 0 auto;
  display: flex;
}

.searchBox label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBox input {
  font-size: 40px;
  font-weight: bold;
  text-indent: 0.5rem;
  border-radius: 10px;
}

.searchInput {
  width: 100%;
}
