@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

/* NOTE: https://www.youtube.com/watch?v=0TnO1GzKWPc */
.appear-scale-up-once {
  animation: appear linear;
  /* 以下、chrome、edgeでのみ対応されている */
  /* https://developer.mozilla.org/ja/docs/Web/CSS/animation-timeline */
  /* https://developer.mozilla.org/ja/docs/Web/CSS/animation-timeline/view */
  animation-timeline: view();
  /* https://developer.mozilla.org/ja/docs/Web/CSS/animation-range */
  animation-range: entry 0;
}
