.item a {
  display: block;
  padding: 5px 20px 20px 20px;
  background-color: ivory;
  color: rgb(64, 64, 64);
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
}

.item a span {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0px;
}

.centerImage {
  display: flex;
  justify-content: center;
}
